<%- include('partial/header'); -%>
<div class="inbox">
    <form action="Inbox" method="post">
        <input type="number" placeholder="Enter year of join" name="year" autocomplete="off">
        <br>
        <button>Move</button>
    </form>
</div>
</body>
</html>