<%- include('partial/theader'); -%>
<div class="mess">
    <h1>Message to Students </h1>
    <form action="Sendmess" method="post">
        <input type="number" name="year" placeholder="Enter year" autocomplete="off">
        <br><br>
        <textarea name="mss" id="" cols="33" rows="10" placeholder="Enter your Message" autocomplete="off"></textarea>
        <br><br>
        <button>Next</button>
    </form>
</div>
</body>
</html>