<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="start.css">
    <title>Document</title>
</head>
<body>
    <div class="frm">
        <form method="POST" action="entry">
            <input type="text" placeholder="Enter user id" name="unme" autocomplete="off">
            <br>
            <input type="text" name="nam" id="" placeholder="Enter your name" autocomplete="off">
            <input type="text" name="section" placeholder="Enter your section" autocomplete="off">
            <br>
            <input type="password" placeholder="Enter passcode" name="pss" autocomplete="off">
            <br>
            <input type="number" min="1111111111"  placeholder="Enter phone no" name="umno" autocomplete="off">
            <br>
            <input type="text" placeholder="Enter dept" name="udept" autocomplete="off">
            <br>
            <input type="number" placeholder="Enter year of join" min="2000" name="ujoin" autocomplete="off">
            <br>
            <button type="submit">Go on</button>
        </form>
    </div>
</body>
</html>