<%- include('partial/header'); -%>
<form action="ssendmess" method="post">
    <textarea name="mss" id="" cols="33" rows="10" placeholder="Enter your Message" autocomplete="off"></textarea>
        <br><br>
    <button>Next</button>
</form>
</body>
</html>