<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="start.css">
</head>
<body>
    <div class="frm">
        <form action="tentry" method="post">
            <input type="text" name="tnme" autocomplete="off" placeholder="Enter your Id">
            <br>
            <input type="password" name="tpss" id="" placeholder="Enter Your Passoword">
            <br>
            <input type="number" min="1111111111"  placeholder="Enter phone no" name="tmno" autocomplete="off">
            <br>
            <input type="text" placeholder="Enter dept" name="tdept" autocomplete="off">
            <br>
            <input type="number" placeholder="Enter year of join" min="2000" name="tjoin" autocomplete="off">
            <br>
            <button type="submit">Go on</button>
        </form>
    </div>
</body>
</html>