<%- include('partial/theader'); -%>
<div class="view">
    <form action="View" method="post">
        <input type="number" name="year" placeholder="Enter year" autocomplete="off">
        <br>
        <input type="text" name="dept" placeholder="Enter department" autocomplete="off">
        <br>
        <input type="text" name="section" placeholder="Enter section" autocomplete="off">
        <br>
        <button>Submit</button>
    </form>
</div>
</body>
</html>