<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="h1">
            <h2>Standford's Institute of Technology.</h2>
        </div>
        <div class="h2">
            <ul>
                <li>
                    <a href="/tentry">Home</a>
                </li>
                <li>
                    <a href="/UMarks">Update Marks</a>
                </li>
                <li>
                    <a href="/View">View Details</a>
                </li>
                <li>
                    <a href="/imark">Internal Marks</a>
                </li>
                <li>
                    <a href="/Sendmess">Message Inbox</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="table">
        <table class="disp" border="10px solid black" >
        <thead>
            <td>Register NO</td>        
            <td>Name</td>
            <td>CI</td>
            <td>BD</td>
            <td>OOAD</td>
            <td>CG</td>
            <td>ST</td>
        </thead>
        <tbody>
    